<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <%= stylesheet_link_tag    "core", :media => "all" %>
  <%= javascript_include_tag "core" %>  
  <%= csrf_meta_tags %>
  <!--[if IE 6]>
  <%= stylesheet_link_tag "ie6"%>
  <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>